.user {
	table {
		width: 100%;
		input {
			margin: 0;
		}
		input[disabled] {
			border: none;
			box-shadow: none;
			background-color: inherit;
		}
	}
	.button.tiny {
		margin: 0 0.3rem 0 0;
	}
	.button.add {
		background: #5C8D9E;
	}
}