<nav class="top-bar e-nav row">
  <ul class="title-area small-3 large-2 columns">
    <li class="name">
      <h1><a href="#">
        <big>苏园创业</big> 办公平台
      </a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="active"><a ng-href="#">首页</a></li>
      <li><a ng-href="#">关于</a></li>
      <li><a ng-href="#">联系我们</a></li>
    </ul>
    <ul class="right">
      <li><a ng-href="#" ng-bind="user.name">张三</a></li>
      <li><a ng-href="#">退出</a></li>
    </ul>
  </section>
</nav>

