.app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .container {
        position: absolute;
        top: $topbar-height;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.e-menu {
    display: block;
    overflow: auto;
    padding: 0;
    height: 100%;
    background: #EBE7E4;
    box-shadow: 2px 0 2px -1px #ccc;
}

.content {
    padding: 0 0.3rem;
    height: 100%;
    overflow: auto;
    .pagetab {
        border-bottom: 2px solid #5C8D9E;
        margin-top: 5px;
        display: flex;
        .tabhead {
            display: flex;
            background: gray;
            color: #FFF;
            padding: 5px 5px 5px 10px;
            flex: 1;
            max-width: 150px;
            border: 1px solid #fff;
            border-radius: 5px 5px 0 0;
            background: linear-gradient(top, #B2B3B3, #767777 100%);
            .foundicon-remove {
                color: #FFF;
                width: 21px;
                text-align: center;
                &:hover {
                    font-size: 1.3em;
                    line-height: 1.1;
                }
            }
            &.active {
                background: linear-gradient(top, #97C9DA, #3D7C92 100%);
            }
            span {
                overflow:hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                flex: 1;
            }
        }
    }
}
