@function randomHsl($s, $l) {
	@return hsl(random(360), $s, $l);
}

menu {
	margin: 0;
	padding: 0;
}

.accordion {
	dd {
		// border-bottom: 1px solid #999;
		>a {
			border-bottom: 1px solid #ccc;
			position: relative;
			// margin-right: 1rem;
			// &:after {
			// 	content: '';
			// 	position: absolute;
			// 	height: 3.5rem;
			// 	width: 1rem;
			// 	top: 0;
			// 	left: 100%;
			// 	border-left: 1rem solid #5C8D9E;
			// 	border-top: 1.75rem solid transparent;
			// 	border-bottom: 1.75rem solid transparent;
			// }
		}
		.content {
			padding: 0;
			ul {
				margin: 0;
				list-style: none;
				li {
					padding: 1rem;
					border-bottom: 1px solid #5C8D9E;
				}
				li:last-child {
					border: none;
				}
			}
		}

	}

}